*{
    background-color:hsl(0, 0%, 4%);
}

p{
    color:hsl(193, 38%, 86%);
    text-align: center;
    background-color: transparent;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    
}
h3{
    text-align: center;
    color:hsl(150, 100%, 66%);
    background-color: transparent;

}

.container{
    width: 850px;
    height: 600px;
    background-color:hsl(218, 23%, 16%);
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.container2{
    width: 540px;
    height: 370px;
    margin:auto;
    padding-top: 1px;
    background-color:hsl(217, 19%, 24%);
    border-radius: 25px;
    position: relative;
    
}

.container2 div {
	vertical-align:middle;
}


.trans{
    background-color:hsl(217, 19%, 24%);
    
}

.btn{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color:hsl(150, 100%, 66%);
    position:absolute;
    cursor: pointer;
    left: 240px;
    top: 325px;
    border: none;
    display: inline-block;
}

.btn:hover{
    background-color:hsl(110, 92%, 64%) ;
    box-shadow: 0 0 30px #4f9;
    
    
    
}


.divider{
    margin:auto;
    
    background-color:hsl(217, 19%, 24%);
    
    padding-left: 25px;
    margin-top: 30px;

}

